python-telegram-bot[rate-limiter]==21.10
openai==1.61.0
tiktoken>=0.3.0
PyYAML==6.0.2
pymongo==4.11
python-dotenv==1.1.0
certifi
chardet
click
flask
future
idna
itsdangerous
jinja2
markupsafe
requests
urllib3
werkzeug